.contact {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-around;
}

.contact-con {
    width: 200px;
    display: flex;
    flex-direction: column;
    color: darkcyan;
}

.contact-name {
    font-weight: bold;
}