<div class="hobby">
    <div class="hobby-con">
        <div class="hobby-icon music"></div>
        <div class="hobby-name"></div>
    </div>
    <div class="hobby-con">
        <div class="hobby-icon music"></div>
        <div class="hobby-name"></div>
    </div>
    <div class="hobby-con">
        <div class="hobby-icon music"></div>
        <div class="hobby-name"></div>
    </div>
    <div class="hobby-con">
        <div class="hobby-icon music"></div>
        <div class="hobby-name"></div>
    </div>
</div>