.hobby {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hobby-con {
    display: flex;
    flex-direction: column;
    color: #333;
    align-items: center;
    color: darkcyan;
}

.hobby-icon {
    width: 40px;
    height: 40px;
}