<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="main-content">
    <app-title></app-title>
    <app-category [icon]="'info'" [name]="'ABOUT ME'">
      <div>{{aboutMe}}</div>
    </app-category>
    <app-category [icon]="'briefcase'" [name]="'EXPERIENCE'">
      <app-description [desModel]="descExp"></app-description>
    </app-category>
    <app-category [icon]="'cap'" [name]="'EDUCATION'">
      <app-description [desModel]="descEdu"></app-description>
    </app-category>
    <app-category [icon]="'skills'" [name]="'PRO SKILLS'">

    </app-category>
    <app-category [icon]="'camera'" [name]="'HOOBBIES'">

    </app-category>
    <app-category [icon]="'phone'" [name]="'CONTACT ME'">

    </app-category>
    <app-angular-demo class="content"></app-angular-demo>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
